body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #0073e6;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    background: #0073e6;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #005bb5;
}

section {
    margin-bottom: 20px;
}

.event-list {
    list-style: none;
    padding: 0;
}

.event-list li {
    background: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
}

footer {
    background: #0073e6;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
/* Estilos para el contenedor de la imagen con marco */
.image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 5px solid #0073e6; /* Color del marco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efecto de profundidad */
    padding: 10px; /* Espacio entre la imagen y el marco */
    background-color: #fff; /* Color de fondo del marco */
}

