/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Cabecera */
header {
    background-color: #A52DFF;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente los elementos */
    align-items: center;     /* Alinear verticalmente los elementos */
    padding: 20px;           /* Añadir algo de espacio alrededor */
}

.logo {
    width: 60px;
    height: auto;
}

.banner {
    height: 175px;
    width: 500px;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li {
    margin-left: 20px;
}

.main-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;

}

.main-nav ul li a:hover {
    background-color: #0073e6;
    border-radius: 5px;
}

/* Sección alternante */
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.text-container {
    width: 50%;
    padding: 20px;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 500px;
    height: auto;
    border: 5px solid #0073e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #ffffff;
}

/* Listas con recuadros */
.mission-list, .event-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.mission-list li, .event-list li {
    background: #ffffff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botón */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    color: #ffffff;
    background-color: #0073e6;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #005bb5;
}

.btn-discord {
    background-color: #7289DA;
}

.btn-discord:hover {
    background-color: #5a73bd;
}

/* Footer */
footer {
    background-color: #1f2f44;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-column {
    width: 30%;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom {
    font-size: 14px;
}
