/* Estilos generales de la tabla */
table {
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial;
}

th, td {
    border: 1px solid #333;
    padding: 5px;
    text-align: center;
}

/* Estilos para la cabecera */
.Cabecera-top {
    background-image: url('../img/fondo_gris.gif');
}

.Cabecera-lat {
    background-color: #E6F3FF;
}

/* Estilos para las filas */
tr:nth-child(even) {
    background-color: #FFFFCC;
}

tr:hover {
    background-color: #FFFF66;
}
