body{
    

}
.cabecera{
    background-color: #3d3847;
    height:10% ;
    border-bottom: solid black 5px;
    display: flex;
    align-items: center;
}
.cabecera2{
    background-image: url(../imgs/red015.jpg);
    height:20% ;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    

    
}
.sub2{
  align-items: center;
}
.sub3{
    background-color: white;
    

}

.cuerpo{
    background-image: url(../imgs/lgrey008.jpg);
    height:60% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer{
    height:10% ;
    background-color: #3d3847;
    border-top: solid #3d3847 5px;
}
.principal{
    background-image: url(../imgs/old_map.png);
    height: 700px;
    width: 900px;
    padding: 20px;
}