@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

main {
    background: url('../imgs/fondoForm.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorFormulario {
    position: relative;
    display: flex;
    margin: 100px;
    width: 600px;
    padding: 20px 50px;
    background: rgba(200, 200, 200, 0.7);
    text-align: left;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.4);
}

#contenedorFormulario h1 {
    position: absolute;
    top: -16px;
    left: 490px;
    background: rgba(255, 255, 255, 0.7);
    font-family: 'Aguafina Script', cursive;
    color: #333;
    letter-spacing: 5px;
    padding: 0px 10px;
    text-shadow: 0px 0px 2px #777;
}

/* Estilos comunes para los campos del formulario */
#contenedorFormulario input[type="text"],
#contenedorFormulario input[type="email"],
#contenedorFormulario textarea {
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.4);
    color: #000;
    font-weight: bold;
    padding: 1px 45px 1px 4px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in;
    background: rgba(200, 200, 200, 0.7);
}

/* Campos nombre y correo */
#contenedorFormulario input[type="text"],
#contenedorFormulario input[type="email"] {
    height: 32px;
    width: 330px;
}

#contenedorFormulario input:focus {
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 1);
}

/* Campo mensaje */
#contenedorFormulario textarea {
    font-family: Arial, sans-serif;
    font-size: 1em;
    width: 90%;
    height: 150px;
}

/* Botón enviar */
#contenedorFormulario button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #434343;
    color: #fff;
    background: linear-gradient(to bottom, #5e5e5e, #2a2a2a);
    cursor: pointer;
    box-shadow: inset 0px 1px 1px #353535;
    transition: all 0.3s ease;
}

#contenedorFormulario button:hover {
    background: linear-gradient(to top, #5e5e5e, #2a2a2a);
}
/* Requeridos con asterisco */
#contenedorFormulario input:required + label::after {
    content: '*';
    color: red;
    margin-left: 4px;
}
/* #contenedorFormulario input:invalid + label::after {
    background: url('../imgs/invalid.png') no-repeat center center;
    background-size: 30px;
    width: 30px;
    height: 30px;
}


#contenedorFormulario input:valid + label::after {
    background: url('../imgs/valid.png') no-repeat center center;
    background-size: 30px;
    width: 30px;
    height: 30px;
} */